@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}

@layer base {
  body {
    background-color: white;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .pleasant-container {
    @apply max-w-7xl mx-auto px-6;
  }
}